<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mp2.gitjavadevelopers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mp2.gitjavadevelopers.SplashScreen"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name="com.mp2.gitjavadevelopers.controller.MainActivity">
        </activity>
        <activity
            android:name="com.mp2.gitjavadevelopers.controller.DetailActivity"
            android:parentActivityName="com.mp2.gitjavadevelopers.controller.MainActivity">
        </activity>
    </application>

</manifest>